import(shape)
importFrom("graphics", "arrows", "lines", "mtext", "par", "plot",
             "points", "polygon", "rect", "segments", "strheight",
             "strwidth", "text")
importFrom("stats", "cycle", "dist")
export(bentarrow, coordinates, curvedarrow, openplotmat, plotmat, plotweb, segmentarrow, 
       selfarrow, shadowbox, splitarrow, straightarrow, textdiamond, textparallel, 
       textellipse, textempty, texthexa, textmulti, textplain, textrect, textround, treearrow)
export(en.Resistor, en.Capacitator, en.Node, en.Capacitator, en.Amplifier,
       en.Signal, en.Ground, en.Transistor)
export(enResistor)
